[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/dacianherbei/imgui.git
[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = https://github.com/dacianherbei/imgui-node-editor.git
